<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tw.pc.mapper.AuditExpenseMapper">
    <insert id="auditExpense">
        INSERT INTO audit_expense(approvedAmount, referencedExpense, referencedPolicy) VALUES
        (#{auditExpense.approvedAmount}, #{auditExpense.expenseOrigin}, #{auditExpense.policy})
    </insert>
</mapper>